.Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.User{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}