<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popular Cars</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="Hnav">
        <a href="/" class="home">Home</a>
        <a href="/fast-cars" class="fastCars">Fast cars</a>
        <a href="/popular-cars" class="PoCars">Popular cars</a>
        <a href="/trucks" class="Trucks">Trucks</a>
      </nav>
    </header>
    <main>
      <div class="formMother">
        <form class="form" action="">
          <label for="carName">NAME</label>
          <input type="text" placeholder="Car name" />
          <label for="carType">TYPE</label>
          <input type="text" placeholder="Car Type" />
          <label for="engine">GAS</label>
          <input type="text" placeholder="fuel type" />
          <label for="power">HORSES</label>
          <input type="number" placeholder=" horse power" />
          <label for="date">DATE</label>
          <input type="date" />
          <label for="seats">NUMBER OF SEATS</label>
          <input type="number" />
          <label for="doors">NUMBER OF DOORS</label>
          <input type="number" />
          <a href="about us?">about us?</a>
          <button class="btn">Search</button>
        </form>
      </div>
    </main>
    <footer></footer>
    <div class="supercars"></div>
    <script src="/public/js/script.js"></script>
    <script>
      console.log("hello from the server");
    </script>
  </body>
</html>
