<link rel="stylesheet" href="public/css/comments.css" />
<div class="comments">
  <div class="comments_arrows">
    <div class="arrow-btn">
      <span class="icons8--left-round"></sp>
    </div>
    <div class="arrow-btn">
      <span class="icons8--right-round"></span>
    </div>
  </div>
  <span>What Our Customers Say</span>
  <p>
    “I was really impressed with the level of service I received from this car
    rental company. The process was smooth and easy, and the car I rented was in
    excellent condition. The staff was friendly and helpful, and I felt well
    taken care of throughout my rental period. I would definitely recommend this
    company to anyone looking for a premium car rental experience.”
  </p>
  <div class="comments_user">
    <img src="/public/images/Ellipse 13.png" alt="" />
    <div class="img_infos">
      <h3>Lokman Hossain</h3>
      <p>From Texas</p>
    </div>
  </div>
</div>
