<link rel="stylesheet" href="/public/css/footer-page.css" />
<div class="footer_page">
  <div class="footer-up">
    <div class="footer-h2">
      <h2>Download our mobile app ⚡️</h2>
      <p>
        Get exclusive access to car rentals with our mobile app. Download now
        and experience convenience on the go.
      </p>
    </div>
    <div class="footer-apps">
      <img class="app-store" src="/public/images/BTN 1.png" alt="" />
      <img class="google-play" src="/public/images/BTN 2.png" alt="" />
    </div>
  </div>
  <div class="footer-links">
    <img class="footer-logo" src="/public/images/Heading.png" alt="" />
    <div class="footer-ContactLinks">
      <a href="">Rent</a>
      <a href="">Share</a>
      <a href="">About-us</a>
      <a href="">Contact</a>
    </div>
    <div class="footer-Medias">
      <span class="skill-icons--instagram"></span>
      <span class="icon-park--dribble"></span>
      <span class="skill-icons--twitter"></span>
      <span class="logos--youtube-icon"></span>
    </div>
  </div>
</div>
