<link rel="stylesheet" href="/public/css/hero.css" />
<header class="hero-section">
	<%- include('navbar'); %>
	<div class="hero-content">
		<div class="hero-text">
			<h1>Discover the world on wheels with our car rental service</h1>
			<p>
				Choose from a wide range of cars that fit your style and budget.<br />
				Experience the freedom of the open road with our reliable and efficient rental service.
			</p>
			<div class="contact-us-btn">
				<a href="/contact-us">
					<span>></span>
					Contact us
				</a>
			</div>
		</div>
		<img src="/public/images/hero-image.png" />
	</div>
</header>
