<link rel="stylesheet" href="public/css/how_it_works.css" />
<div class="heead">
  <h1>How it woks</h1>
  <p>
    Renting a luxury car has never been easier. Our streamlined process makes it
    simple for you to book and confirm your vehicle of choice online
  </p>
</div>
<div class="how_it_works_main">
  <div class="how_it_works_infos">
    <div class="how_it_works_info">
      <div class="icones">
        <div class="bitcoin-icons--search-outline"></div>
      </div>
      <div class="how_it_works_p">
        <h3>Browse and select</h3>
        <p>
          Choose from our wide range of premium cars, select the pickup and
          return dates and locations that suit you best.
        </p>
      </div>
    </div>
    <div class="how_it_works_info">
      <div class="icones">
        <div class="fluent-mdl2--waitlist-confirm"></div>
      </div>
      <div class="how_it_works_p">
        <h3>Book and confirm</h3>
        <p>
          Book your desired car with just a few clicks and receive an instant
          confirmation via email or SMS.
        </p>
      </div>
    </div>
    <div class="how_it_works_info">
      <div class="icones">
        <div class="proicons--emoji-grin"></div>
      </div>
      <div class="how_it_works_p">
        <h3>Enjoy your ride</h3>
        <p>
          Pick up your car at the designated location and enjoy your premium
          driving experience with our top-quality service.
        </p>
      </div>
    </div>
  </div>

  <div class="jeep">
    <img class="jeep_image" src="/public/images/jeep-img.png" alt="jeep-img" />
  </div>
</div>
