<nav class="navbar">
	<button class="menu-button">
		<span></span>
		<span></span>
	</button>
	<a href="/">
		<img src="/public/images/Logo.svg" alt="logo" />
	</a>
	<a class="btn bordered" href="/login">Login / Register </a>
</nav>
