<div class="Rent_card">
<img class="Rent_img" src="<%= image%>" alt="<%= title%>" />
  <p class="Rent_title"><%= title%></p>
  <div class="priceDay">
    <h1>78.90</h1>
    /
    <p>day</p>
  </div>
  <section class="infos" id="infos">
    <div class="CardsInfos" id="CardInfos">
      <span class="et--speedometer"></span>
      4000
    </div>
    <div class="CardsInfos" id="CardInfos">
      <span class="carbon--category"></span>
      Auto
    </div>
    <div class="CardsInfos" id="CardInfos">
      <span class="mdi--people"></span>
      4 Person
    </div>
    <div class="CardsInfos" id="CardInfos">
      <span class="clarity--fuel-line"></span>
      electric
    </div>
  </section>
  <button class="Rent_Now">Rent Now</button>
</div>
