<link rel="stylesheet" href="public/css/Services_Benefits.css" />
<div class="Services_ben">
  <div class="heead">
    <h1>Our Services & Benefits</h1>
    <p>
      To make renting easy and hassle-free, we provide a variety of services and
      advantages. We have you covered with a variety of vehicles and flexible
      rental terms.
    </p>
  </div>
  <div class="service_infos">
    <div class="Service_head">
      <div class="iconoir--circle-spark"></div>
      <span>Quality Choice</span>
      <p>
        We offer a wide range of high-quality vehicles to choose from, including
        luxury cars, SUVs, vans, and more.
      </p>
    </div>
    <div class="Service_head">
      <div class="hugeicons--give-pill"></div>
      <span>Affordable Prices</span>
      <p class="p1">
        Our rental rates are highly competitive and affordable, allowing our
        customers to enjoy their trips without breaking the bank.
      </p>
    </div>
    <div class="Service_head">
      <div class="lucide--badge-check"></div>
      <span>Convenient Online Booking</span>
      <p class="p1">
        With our easy-to-use online booking system, customers can quickly and
        conveniently reserve their rental car from anywhere, anytime.
      </p>
    </div>
  </div>
</div>
