.booking-form {
	display: flex;
	padding: 28px 32px;
	margin: 0 var(--global-padding);
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
	border-radius: 16px;
	backdrop-filter: blur(8px);
	transform: translateY(-50%);
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
	align-items: flex-end;
	/* filter:  blur(8px); */
}
.booking-form .btn {
	padding: 16px;
}
.form-control {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.form-control input {
	min-width: 285px;
	padding: 16px 32px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control input[type="date"] {
	min-width: 200px;
}
.form-control div {
	position: relative;
}
.form-control .icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
}
.form-control .icon.right {
	left: auto;
	right: 12px;
}

.ic--outline-location-on {
	display: inline-block;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7M7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9'/%3E%3Ccircle cx='12' cy='9' r='2.5' fill='%23000'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
.ic--outline-calendar-today {
	display: inline-block;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 18H4V10h16zm0-13H4V5h16z'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
