/*{
    margin: 0;
}*/
.Car_Collection_Section{
    
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    margin: 96px 0px;
}
.heead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 52px;
}
.heead p{
    width: 64ch;
}
.Rent_Car_nav{
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.Rent_Nav{
    border: none;
    background-color: rgb(252, 250, 250);
    width: 140px;
    border-radius: 58px;
    padding: 12px 19px;
    margin-top: 40px;
    margin-bottom: 60px;
    
    
}
.Popular_rent{
    background-color: black;
    color: white;
}
.Rent-card{
    background-color: white;


}

.Rent_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.Rent_img{
    margin: 4px 4px;
width: 368px;
height: 260px;
}
.Rent_title{
    margin-left: 20px;
    font-size: 20px;
    opacity: 0.8;
    font-weight: 600;
}
.priceDay{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#infos{
    margin-bottom: 24px;
    margin: 24px 24px 24px 24px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.CardsInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.carbon--category {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M27 22.141V18a2 2 0 0 0-2-2h-8v-4h2a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-6a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2v4H7a2 2 0 0 0-2 2v4.142a4 4 0 1 0 2 0V18h8v4.142a4 4 0 1 0 2 0V18h8v4.141a4 4 0 1 0 2 0M13 4h6l.001 6H13ZM8 26a2 2 0 1 1-2-2a2 2 0 0 1 2 2m10 0a2 2 0 1 1-2-2a2.003 2.003 0 0 1 2 2m8 2a2 2 0 1 1 2-2a2 2 0 0 1-2 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .et--speedometer {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23000'%3E%3Cpath d='M16-.034C7.159-.034-.035 7.158-.035 16S7.159 32.034 16 32.034S32.035 24.842 32.035 16S24.841-.034 16-.034m0 31C7.748 30.966 1.035 24.252 1.035 16S7.748 1.034 16 1.034S30.965 7.748 30.965 16S24.252 30.966 16 30.966'/%3E%3Cpath d='M16.5 6.053a.553.553 0 0 0 .553-.553v-2a.553.553 0 1 0-1.106 0v2c0 .306.248.553.553.553m-11 8.894h-2a.553.553 0 1 0 0 1.106h2a.553.553 0 1 0 0-1.106m20.447.553c0 .306.248.553.553.553h2a.553.553 0 1 0 0-1.106h-2a.553.553 0 0 0-.553.553M8.575 10.128a.552.552 0 0 0 .391-.943L7.391 7.609a.552.552 0 1 0-.781.781l1.575 1.575a.55.55 0 0 0 .39.163m15.316 10.981a.552.552 0 1 0-.781.781l1.5 1.5a.55.55 0 0 0 .782 0a.55.55 0 0 0 0-.781zm1-13.218a.552.552 0 1 0-.781-.781l-1.575 1.575a.552.552 0 1 0 .782.781zM8.609 21.609l-1.5 1.5a.552.552 0 1 0 .782.781l1.5-1.5a.552.552 0 1 0-.782-.781M19.5 24h-7c-.889-.034-1.535.611-1.535 1.5v.957c0 .898.674 1.603 1.535 1.543h7c.86.06 1.535-.645 1.535-1.543V25.5c0-.889-.646-1.534-1.535-1.5m.465 2.457c0 .257-.146.534-.465.568h-7c-.32-.034-.465-.312-.465-.025v-.957c0-.839.169-1.009.465-1.043h7c.296.034.465.204.465.5zM16 18.667c.712 0 1.382-.277 1.885-.781a2.67 2.67 0 0 0 .34-3.355l2.653-2.653a.534.534 0 1 0-.756-.756l-2.656 2.656c-1.025-.655-2.473-.543-3.351.336A2.669 2.669 0 0 0 16 18.667m-.942-3.609c.251-.252.586-.391.942-.391s.691.139.943.391c.52.52.52 1.365 0 1.885c-.503.504-1.381.504-1.885 0a1.334 1.334 0 0 1 0-1.885'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mdi--people {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16 17v2H2v-2s0-4 7-4s7 4 7 4m-3.5-9.5A3.5 3.5 0 1 0 9 11a3.5 3.5 0 0 0 3.5-3.5m3.44 5.5A5.32 5.32 0 0 1 18 17v2h4v-2s0-3.63-6.06-4M15 4a3.4 3.4 0 0 0-1.93.59a5 5 0 0 1 0 5.82A3.4 3.4 0 0 0 15 11a3.5 3.5 0 0 0 0-7'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .clarity--fuel-line {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M20.12 34H5.9A2.81 2.81 0 0 1 3 31.19V4.86a2.9 2.9 0 0 1 3-2.79h14.22A2.72 2.72 0 0 1 23 4.86v26.33A2.82 2.82 0 0 1 20.12 34M5.9 4a.87.87 0 0 0-.9.86v26.33a.87.87 0 0 0 .87.87h14.25a.94.94 0 0 0 .95-.87V4.86a.94.94 0 0 0-.95-.86Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='%23000' d='M29.53 34A3.5 3.5 0 0 1 26 30.5V23a2 2 0 0 0-2-2h-1.43a1 1 0 0 1 0-2H24a4 4 0 0 1 4 4v7.5a1.5 1.5 0 0 0 3 0V17.3l-3.13-7A2.29 2.29 0 0 0 25.8 9h-.73a1 1 0 1 1 0-2h.73a4.3 4.3 0 0 1 3.93 2.55l3.21 7.16a1 1 0 0 1 .09.41V30.5a3.5 3.5 0 0 1-3.5 3.5' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='%23000' d='M18 9H8a1 1 0 1 1 0-2h10a1 1 0 0 1 0 2' class='clr-i-outline clr-i-outline-path-3'/%3E%3Cpath fill='%23000' d='M18 13H8a1 1 0 1 1 0-2h10a1 1 0 1 1 0 2' class='clr-i-outline clr-i-outline-path-4'/%3E%3Cpath fill='%23000' d='M25 12.08a1 1 0 0 1-1-1v-6a1 1 0 0 1 2 0v6a1 1 0 0 1-1 1' class='clr-i-outline clr-i-outline-path-5'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
.SeeAll{
    margin-bottom: 80px;
    margin-top: 80px ;
    color: white;
    background-color: #0F0F0F;
    padding: 12px 40px;
    gap: 8px;
    border-radius: 32px;
}
.Rent_Now{
    color: black;
    width: 80%;
    padding: 12px 24px;
    margin-left: 36px;
    margin-bottom: 24px;
    border: 1px solid black;
    border-radius: 32px;
    gap: 8px;
    background-color: inherit;
   
}
.Rent_card {
background-color: white; 
border-radius: 16px; 
}